.chat-bubble {
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}

.chat-bubble.human {
  justify-content: flex-end;
}

.chat-bubble.ai .chat-content {
  background: #dadada;
  color: black;
}

.chat-bubble.human .chat-content {
  background: linear-gradient(to top, #925de5, #7874fd);
  color: white;
}

.chat-content {
  display: inline-block;
  padding: 8px 15px;
  letter-spacing: -0.016em;
  border-radius: 17.5px;
}
