@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chat-bubble {
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  animation: appear 0.7s;
}

.chat-bubble.human {
  justify-content: flex-end;
}

.chat-bubble.ai .chat-content {
  background: #dadada;
  color: black;
}

.chat-bubble.human .chat-content {
  background: linear-gradient(to top, #925de5, #7874fd);
  color: white;
}

.chat-content {
  display: inline-block;
  padding: 8px 15px;
  letter-spacing: -0.016em;
  border-radius: 17.5px;
}

.quickReply {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
